[submodule "_layouts"]
	path = _layouts
	url = https://gitlab.com/nolim1t/nolim1t-co-templates.git
[submodule "projects"]
	path = projects
	url = https://gitlab.com/nolim1t/projects.git
[submodule "opensource"]
	path = opensource
	url = https://gitlab.com/nolim1t/opensource.git
[submodule "resume"]
	path = resume
	url = https://gitlab.com/nolim1t/resume.git
[submodule "lightning-pay-page"]
	path = lightning-pay-page
	url = https://gitlab.com/nolim1t/lightning-pay-page.git
[submodule "onions-list"]
	path = onions-list
	url = https://gitlab.com/nolim1t/onions-module.git
