<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/template/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/template/assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="/template/assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="/template/assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="#">@nolim1t</a></h1>
						<nav class="links">
							<ul>
								<li><a href="https://github.com/nolim1t/">My Code</a></li>
								<li><a href="https://twitter.com/nolim1t">My Ramblings</a></li>
								<li><a href="https://itinerantfoodie.com/">My Travels / Food</a></li>
								<li><a href="https://instagram.com/nolim1t">My Photos</a></li>
								<li><a href="https://foursquare.com/nolim1t">My Places</a></li>
							</ul>
						</nav>
					</header>

					<section id="main">
						<!-- Intro -->
							<section id="intro">
								<header>
									<h2>@nolim1t</h2>
									<p>I build things</p>
								</header>
							</section>

						<!-- Posts List -->
							{{ content }}

						<!-- About -->
							<section class="blurb">
								<h2>About</h2>
								<p>I write codes, I am passionate about usability / user interaction ), I travel (alot), and I blog (sometimes)</p>
								<ul class="actions">
									<li><a href="#" class="button">Learn More</a></li>
								</ul>
							</section>

						<!-- Footer -->
							<section id="footer">
								<p class="copyright">&copy; Content: nolim1t.co. Design: Inspired by <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
							</section>
					</section>
			</div>

		<!-- Scripts -->
			<script src="/template/assets/js/jquery.min.js"></script>
			<script src="/template/assets/js/skel.min.js"></script>
			<script src="/template/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="/template/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/template/assets/js/main.js"></script>

	</body>
</html>
