<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.css" />
		<script src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.js"></script>
		<meta name="keywords" content="巴里, 槍, バリー, Barry, iPhone, iPhonedev, webdev, phpdev, php, asp, asp.net, .Net, Rails, Mac, OS X, Development, automated-qa, portfolio, freelance, consulting, 日本語できます, nolim1t" />
		
	</head>
	<body bgcolor="#ffffff">
		<div data-role="page"> 
				<div data-role="content">
					<img src="/nolim1t.png" />
					{{ content }}
					
					<br />
					<g:plusone size="small"></g:plusone>

					<script type="text/javascript">
					  (function() {
					    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
					    po.src = 'https://apis.google.com/js/plusone.js';
					    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
					  })();
					</script>					
				</div>
		</div>
	</body>
</html>
